.overlay{
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    z-index: 999;
    display: flex;
}
.Dialog{ 
    z-index: 1000;  
    background: #fff;
    width: 30vw;
    height: 45vh;
    position: absolute;
    align-self: center;
    margin-left: 38vw;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}
.Dialog__header{
    width: 100%;
    height: 10vh;
    display: flex;
}
.Dialog__header-left{
    width: 60%;
    display: flex;
    align-items: center;
}
.Dialog__header-right{
    width: 38%;
    display: flex;
    justify-content: flex-end;
}
.Dialog__header-icon{
    margin-left: 20px;
    font-size: 4.0rem;
    color: #E91E63;
}
.Dialog__header-text{
    font-size: 2.0rem;
    margin-left: 20px;
}
.Dialog__header-close{
    margin-top: 10px;
    color:#D2D5D9;
    cursor: pointer;
    font-size: 1.8rem;
}
.Dialog__header-close:hover{
    color: #555;
}
.Dialog__content{
    margin-top: 40px;
        width: 100%;
        height: 10vh;
}
.Dialog__content-text{
    font-size: 1.4rem;
    margin-left: 12px;
    color:#D2D5D9;
    font-weight: bold;
}
.Dialog__content-input{
    margin-top: 10px;
    height: 32px;
    padding: 0 8px;
    color: #1b2733;
    border: 1px solid #c1c7cd;
    border-radius: 4px;
    width: 91%;
    font-size: 1.6rem;
    margin-left: 10px;
}
.Dialog__footer{
    height: 17vh;
    width: 94%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.Dialog__footer-create{
    height: 3.2rem;
    font-weight: 500;
    border-radius: 4px;
    background: #E91E63;
    color: #fff;
    border: none;
    padding: 0px 23px;
    line-height: 1;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    overflow: visible;
    text-decoration: none;
}

.Dialog__footer-cancel{
    height: 3.2rem;
    font-weight: 500;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #bbb;
    color: #47525d;
    padding: 0px 23px;
    line-height: 1;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    overflow: visible;
    text-decoration: none;
    margin-right: 18px;
}