.nav{
  width: 100%;
  min-height: 100vh;
  background: #FAFAFA;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
  z-index: 100;
  box-sizing: border-box;
}
.nav__head{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 150px;
}
.nav__logo-user-wrapper{
  display: flex;
  padding: 5px;
}
.nav__logo{
  width: 50px;
}
.nav__user-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 0 0 10px;
}
.nav__username{
  margin: 0;
  font-size: 2rem;
  color: #616161;
}
.nav__email{
  margin: 0;
  font-size: 1.2rem;
  font-weight: 400;
  color: #9E9E9E;
}
.nav__logout-btn{
  border: none;
  background: rgba(233, 30, 99, 1);
  color: #fff;
  font-size: 1.6rem;
  padding: 10px 0 10px 0;
  cursor: pointer;
}
.nav__logout-btn:hover{
  background: rgba(233, 30, 99, 0.9);
}
.nav__btns-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.nav__line{
  width: 100%;
  height: 1px;
  background: #E0E0E0;
  margin: 15px 0 15px 0;
}
.nav__ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  list-style: none;
  padding: 0;
}
.nav__ul li{
  margin: 5px 0 5px 0;
}
.nav__btns-container button{
  background: none;
  border: none;
  font-size: 1.6rem;
  color: #E91E63;
  cursor: pointer;
}
.nav__btns-container a{
  font-size:1.6rem;
  text-decoration: none;
  color: #E91E63;
  cursor: pointer;
}
