.overlay-uploadfile{
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.4);
  z-index: 1000;
}
.overlay-uploadfile__container{
  position: absolute;
  min-width: 30%;
  padding: 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}
.overlay-uploadfile__header-wrapper{
  display: flex;
  margin-bottom: 30px;
}
.overlay-uploadfile__header-icon{
  font-size: 4.0rem;
  color: #E91E63;
}
.overlay-uploadfile__header-text{
  display: flex;
  align-items: center;
  font-size: 2rem;
  margin: 0 0 0 20px;
  font-weight: 400;
}
.overlay-uploadfile__form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.overlay-uploadfile__upload-input{
  font-size: 1.6rem;
  margin-bottom: 30px;
}
.overlay-uploadfile__btn-wrapper{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.overlay-uploadfile__cancel-btn{
  font-size: 1.4rem;
  background: #fff;
  border: 1px solid #bbb;
  color: #47525d;
  padding: 5px 15px 5px 15px;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 18px;
}
.overlay-uploadfile__cancel-btn:hover{
  background: #FAFAFA;
}
.overlay-uploadfile__submit-btn{
  font-size: 1.4rem;
  background: #E91E63;
  border: none;
  color: #fff;
  padding: 5px 15px 5px 15px;
  cursor: pointer;
  border-radius: 4px;
}
.overlay-uploadfile__submit-btn:hover{
  opacity: 0.9;
}
.overlay-uploadfile__close-btn{
  position: absolute;
  right: 0;
  top: 0;
  color: #D2D5D9;
  cursor: pointer;
  font-size: 1.8rem;
  margin: 10px 10px 0 0;
}
.overlay-uploadfile__close-btn:hover{
  color: #555;
}
